include sponsor
mixin plato(plato,sponsor,category)
    .content__plate
        .plate
            .plate__img
                .plate__logo
                    img(src="media/"+logo.img+logo.extention, alt=logo.alt)
                picture.plate__cont__picture
                    img.plate__picture(srcset="media/"+category+"/"+plato.img.picture+plato.img.extention, alt=title)
            .container
                .plate__body
                    h2.plate__title !{plato.text}
                    if(plato.description)
                        p.plate__text !{plato.description}
                    if(plato.price_uno)
                        p.plate__price Bs&nbsp;!{plato.price_uno}
                    if(plato.price_dos)
                        p.plate__price Bs&nbsp;!{plato.price_dos}
            .sponsors
                .sponsors__body
                    include sponsor
                    +sponsor(sponsor)
mixin platoUnidades(plato,sponsor,category,unidades)
    .content__plate
        .plate
            .plate__img
                .plate__logo
                    img(src="media/"+logo.img+logo.extention, alt=logo.alt)
                picture.plate__cont__picture
                    img.plate__picture(srcset="media/"+category+"/"+plato.img.picture+plato.img.extention, alt=title)
            .container
                .plate__body
                    h2.plate__title !{plato.text}
                    if(plato.description)
                        p.plate__text !{plato.description}
                    if(plato.price_uno)
                        p.plate__price !{unidades.valoruno}&nbsp;!{plato.price_uno}&nbsp;Bs
                    if(plato.price_dos)
                        p.plate__price !{unidades.valoruno}&nbsp;!{plato.price_dos}&nbsp;Bs
            .sponsors
                .sponsors__body
                    include sponsor
                    +sponsor(sponsor)
mixin platoTamanio(plato,sponsor,category,tamanio)
    .content__plate
        .plate
            .plate__img
                .plate__logo
                    img(src="media/"+logo.img+logo.extention, alt=logo.alt)
                picture.plate__cont__picture
                    img.plate__picture(srcset="media/"+category+"/"+plato.img.picture+plato.img.extention, alt=title)
            .container
                .plate__body
                    h2.plate__title !{plato.text}
                    if(plato.description)
                        p.plate__text !{plato.description}
                    if(plato.price_uno)
                        p.plate__price #{tamanio.uno}&nbsp;!{plato.price_uno}&nbsp;Bs
                    if(plato.price_dos)
                        p.plate__price #{tamanio.dos}&nbsp;!{plato.price_dos}&nbsp;Bs
            .sponsors
                .sponsors__body
                    include sponsor
                    +sponsor(sponsor)
